---
---

@import "normalize";
@import "settings";

@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400,600,700');

html {
  font-size: 10px;
}

body {
  color: #192a42;
  font-size: 1.6rem;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 9.6rem;
  font-weight: 300;
  letter-spacing: -.15rem;
}

h2 {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: -.05rem;
}

h3 {
  font-size: 4.8rem;
  font-weight: 400;
  letter-spacing: 0;
}

h4 {
  font-size: 3.4rem;
  font-weight: 400;
  letter-spacing: .025rem;
}

h5 {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0;
}

h6 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: .015rem;
}

#layout {
  > header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4.8rem;
    padding: .6rem;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);

    nav {
      font: 700 1.4rem 'Montserrat', Arial, Helvetica, sans-serif;
      line-height: 3.6rem;
      text-transform: uppercase;
    }

    li {
      display: inline-block;
      padding: 0 1rem;
      transition: color 400ms;

      &:hover {
        color: #f34164;
      }
    }

    a {
      display: block;
    }
  }

  > footer {
    padding: 2.4rem .6rem .6rem;
    font-size: 1rem;

    > a {
      float: right;
    }
  }
}

#content {
  padding-top: 4.8rem;
}

.container {
  @include breakpoint(medium) {
    width: 96rem;
    margin: 0 auto;
  }
  @include breakpoint(large) {
    width: 120rem;
  }
  @include breakpoint(xlarge) {
    width: 138rem;
  }
}

@import "homepage";
@import "syntax";
