:root {
  --default-font: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;

  --text-color: #18212a;
  --background-color: #f4ebe4;
  --highlighter-color: #f6f8fa;
  --scrollbar-color: #18212a66;
  --scrollbar-border-color: #fff;
}
