$screen: 'only screen' !default;

/**
Common screen sizes
Mobile: 360 x 640
Mobile: 375 x 667
Mobile: 360 x 720
iPhone X: 375 x 812
Pixel 2: 411 x 731
Tablet: 768 x 1024
Laptop: 1366 x 768
High-res laptop or desktop: 1920 x 1080

 */

$breakpoints: (
  xxsmall: 0,
  xsmall: 576px,
  small: 768px,
  medium: 992px,
  large: 1200px,
  xlarge: 1400px,
) !default;

/**
 * Usage:
 * @include breakpoints(small) - from 600px
 * @include breakpoints(small, only) - between 600px and 1023px
 * @include breakpoints(small, large) - between 600px and 1279px
 */
@mixin breakpoints($point, $range: 'from') {
  $points: map-keys($breakpoints);
  $index: index($points, $point);

  @if $index != null {
    $media-rule: $screen;

    @if $index != 1 {
      $min-width: map-get($breakpoints, $point);
      $media-rule: $media-rule + ' and (min-width: #{$min-width})';
    }

    @if $range == only and $index != length($points) {
      $max-width: map-get($breakpoints, nth($points, $index + 1));
      $media-rule: $media-rule + ' and (max-width: #{$max-width - 1px})';
    } @else if index($points, $range) != null {
      $max-width: map-get($breakpoints, $range);
      $media-rule: $media-rule + ' and (max-width: #{$max-width - 1px})';
    }

    @media #{$media-rule} {
      @content;
    }
  } @else {
    @warn 'Breakpoint "#{$point}" not found';
  }
}
