<a href="/">
  <img class="logo" src="/assets/logo.svg" alt="iMoses"/>
</a>

<section>
  <h3>Ido Moshe // Tech Lead</h3>
  <ul>
    <li>20+ Years of Experience</li>
    <li>Full-Stack Architect</li>
    <li>Front-End Specialist</li>
    <li>Interaction Engineer</li>
    <li>Open-Source Contributor</li>
    <li>Professional Lecturer</li>
    <li>Freelance Consultant</li>
  </ul>
</section>

<section>
  <h3>Read About</h3>
  <ul>
    {% assign categories = site.categories | sort %}
    {% for category in categories %}
    <li><a href="/{{ category[0] | slugify }}">{{ category[0] }}</a></li>
    {% endfor %}
  </ul>
</section>

<section>
  <h3>Contact Me</h3>
  <div class="social-strip">
    <a href="{{ site.data.contact.github }}" target="_blank">
      <img src="/assets/github.svg" alt="GitHub profile" />
    </a>
    <a href="{{ site.data.contact.linkedin }}" target="_blank">
      <img src="/assets/linkedin.svg" alt="LinkedIn profile" />
    </a>
    <a href="{{ site.data.contact.stackoverflow }}" target="_blank">
      <img src="/assets/stackoverflow.svg" alt="StackOverflow profile" />
    </a>
    <a href="mailto:{{ site.data.contact.email }}" target="_blank">
      <img src="/assets/gmail.svg" alt="Send me an email" />
    </a>
  </div>
</section>
