.section-block {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 4.8rem);
  color: #fff;
  text-align: center;
  background-color: #243c4c;
  overflow: hidden;

  > .container {
    position: relative;
    top: -2rem;
    padding: 2rem 1rem;
  }
}

.content-block {
  padding: 2rem 1rem;
}

.project-block {
  padding: 1rem;

  p {
    color: #5d6d7e;
    font-size: 1.6rem;
  }
}

#hex-animation {
  background-color: #243c4c;
}

.project-page {
  padding: 1.8rem 0;

  p {
    margin-bottom: 1rem;
  }

  ul {
    margin-left: 2.6rem;
  }
}
