* {
  margin: 0;
  padding: 0;
  border: 0;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
  
  &:focus {
    outline: 0;
  }
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  cursor: default;
}

kbd {
  font-family: inherit;
}

a {
  text-decoration: none;
  
  &,
  &:link,
  &:hover,
  &:visited {
    color: inherit;
  }
}

input,
select,
textarea {
  font: inherit;
  outline: 0;
}

canvas {
  display: block;
}
