@import "mixins/breakpoints";

#default-layout {
  display: grid;
  min-width: map-get($breakpoints, medium);
  max-width: 1120px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 16px;
  grid-template-areas:
    'sidebar content'
    'blank content';
  grid-template-columns: 272px 1fr;
  column-gap: 8px;

  .layout-sidebar {
    grid-area: sidebar;
    position: sticky;
    top: 0;
    display: flex;
    min-height: 100vh;
    padding: 16px 8px 0;
    flex-grow: 0;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    > footer {
      flex: 0 0 auto;
      font-size: 10px;
    }
  }

  .layout-content {
    grid-area: content;
    padding: 8px 0 32px;
  }
}

@include breakpoints(xxsmall, medium) {
  #default-layout {
    min-width: auto;
    grid-template-areas:
      'content'
      'sidebar';
    grid-template-columns: unset;
    grid-template-rows: 1fr auto;
    row-gap: 8px;

    .layout-sidebar {
      min-height: unset;

      footer {
        text-align: center;
      }
    }
  }
}
