@import "mixins/scrollbar";

#root {
  min-height: 100vh;
  color: var(--text-color);
  font-family: var(--default-font);
}

body {
  background-color: var(--background-color);
  cursor: default;

  @include scrollbar;
}

a[href]:hover {
  text-decoration: underline;
}

ul > li {
  margin-left: 1.125em;

  &::before {
    content: '-';
    position: absolute;
    margin-left: -1.125em;
  }
}
