@import "mixins/scrollbar";

body {
  color: var(--default-color);
  font-family: var(--default-font);
  background-color: var(--default-background-color);
  cursor: default;

  @include scrollbar;
}

#root {
  min-height: 100vh;
}

a[href]:hover {
  text-decoration: underline;
}

ul > li {
  margin-left: 1.125em;

  &::before {
    content: '-';
    position: absolute;
    margin-left: -1.125em;
  }
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

main {
  p,
  ul,
  blockquote,
  pre:not(.highlight),
  div.highlighter-rouge {
    margin: 16px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
