.post-card {
  margin-top: 16px;

  &:not(:last-child) {
    &::after {
      content: '';
      display: block;
      margin-top: 32px;
      border-bottom: 2px solid var(--color-auro-metal-saurus);
    }
  }

  a:not(:hover) {
    text-decoration: none;
  }

  .read-more {
    font-weight: bold;

    &::before {
      content: '>> ';
    }
  }
}
