@import "mixins/breakpoints";

.sticky-sidebar {
  .logo {
    width: 196px;
  }

  > section {
    margin: 16px 0;
  }

  a, li {
    font-size: 14px;
  }

  @include breakpoints(xxsmall, medium) {
    display: grid;
    grid-template-columns: repeat(auto-fill, 272px);
    justify-content: center;
    gap: 10px;

  }
}

.social-strip {
  display: flex;
  margin: 4px 0;
  gap: 8px;

  img {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    transition: opacity 200ms ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}

