@import "settings";

.project-block {
  padding: 1rem;

  p {
    color: #5d6d7e;
  }
}

#hex-animation {
  background-color: #243c4c;
}

.project-page {
  padding: 1.8rem 0;

  p {
    margin-bottom: 1rem;
  }

  ul {
    margin-left: 2.6rem;
  }
}
