// Fonts

$fonts-sans-serif: Helvetica, Arial, sans-serif;
$fonts-montserrat: Montserrat, $fonts-sans-serif;
$fonts-open-sans: Open Sans, $fonts-sans-serif;

// Colors

$colors-primary: #1976d2;
$colors-primary-dark: #004ba0;
$colors-primary-light: #63a4ff;

$colors-secondary: #d81b60;
$colors-secondary-dark: #a00037;
$colors-secondary-light: #ff5c8d;

$colors-error: #b00020;
$colors-surface: #fff;
$colors-background: #fff;

$colors-on-primary: #fff;
$colors-on-secondary: #fff;
$colors-on-error: #fff;
$colors-on-surface: #000;
$colors-on-background: #000;

$colors-grey-dark: #b3b3b3;
$colors-grey-light: #f2f2f2;
