@import "settings";

.content-block {
  padding: 2rem 1rem;
}

section {
  //&.content-block {
  //  border-bottom: 1px solid $colors-grey-dark;
  //}

  &.screen-height {
    min-height: calc(100vh - 4.8rem);
  }

  &.inverted-colors {
    color: #fff;
    background-color: $colors-primary-dark;
    text-shadow: -1px -1px 0 rgba(#000, .5);
  }

  &.center-content {
    display: flex;
    align-items: center;
    text-align: center;

    .content-block {
      padding: 2rem 2rem 10rem;
    }
  }
}
