{% assign timestamp = site.time | date:'%Y-%m-%d-%H-%M-%S' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Personal website" />
  <meta name="author" content="Ido Moshe" />
  <meta charset="utf-8" />
  <title>{{ site.title }} | {{ page.title }}</title>
  <link rel="stylesheet" href="/css/styles.css?{{ timestamp }}" />
</head>
<body>

<div id="layout">
  <header>
    {% include header.html %}
  </header>

  <div id="content">
    {{ content }}
  </div>

  <footer>
    <span class="copyright">
      Copyright &copy; {{ site.time | date:'%Y' }} iMoses (Ido Moshe). All rights reserved.
    </span>
    <a href="{{ site.url }}">{{ site.url }}</a>
  </footer>
</div>

<script src="/js/scripts.js?{{ timestamp }}"></script>

</body>
</html>