<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Personal website" />
  <meta name="author" content="Ido Moshe" />
  <meta charset="utf-8" />
  <title>iMoses.co | {{ page.title }}</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

<div id="layout">
  <header>
    {% include header.html %}
  </header>

  <div id="content">
    {{ content }}
  </div>

  <footer id="foot">
    <a href="{{  site.url }}">imoses.co</a>
  </footer>
</div>

<script src="/js/scripts.js"></script>

</body>
</html>